/* Your code goes here */

#form {
    visibility: hidden;
}

.input {
    padding: 10px;
    background-color: #3CB371;
    border: none;
}

.button {
    background-color: #2E8B57;
    margin-top: 30px;
    padding: 10px 20px;
    color: white;
    border: none;
}