﻿* {
    outline: none;
}

body {
    font-family: 'Ubuntu', sans-serif;
}


/* Your code goes here */

header {
    background-image: url(../img/header-bg.jpg);
}

a {
    color: #fff;
}

.white {
    color: #fff;
}

.black {
    filter: brightness(0);
}

.btn-services {
    background-image: url(../img/touch-bg.png);
    width: 296px;
    height: 65px;
}

.img-work {
    width: 100%;
    padding-bottom: 55px;
}

.ref-img {
    width: 450px;
    height: 450px;
}

.arrow-prev {
    margin-top: -700px;
}

.arrow-next {
    margin-top: -380px;
}

footer {
    background-image: url(../img/footer-bg.jpg);
    column-count: 4;
    height: 100%;
}