* {
    font-family: 'Open Sans';
}

.body {
    background-color: #B7C8D9;
}

.header_inner {
    height: 724px;
    width: 100%;
    background-image: url(../img/apples.jpg);
    background-position: center center;
    background-size: cover;
}

a {
    display: inline-block;
    color: #fff;
    letter-spacing: .1rem;
    text-decoration: none;
    margin-left: 42px;
    padding-top: 42px;
}

.navigation {
    float: right;
}

nav>a {
    margin-left: 12px;
    margin-right: 35px;
    text-decoration: none;
    color: #fff;
    letter-spacing: .1rem;
}

.header_content {
    text-align: center;
}

.header_text {
    margin-top: 240px;
    font-size: 56px;
    letter-spacing: .4rem;
    color: #fff;
    font-weight: normal;
}

.header_small_text {
    margin-top: -20px;
    font-size: 14px;
    color: #fff;
}

.card_heading_text {
    text-align: center;
    display: block;
    padding-top: 55px;
    margin-right: 140px;
    margin-bottom: 90px;
}

.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 165px;
    width: 240px;
    height: 50px;
    border: 2px solid #f0f0f0;
    background-color: rgba(52, 54, 56, 0.6);
    color: #f3f3f3;
}

.main_text_content {
    display: inline-block;
    margin-top: 110px;
    margin-bottom: 110px;
    position: relative;
}

.text_left {
    display: inherit;
    margin-left: 40px;
    width: calc((99% - 80px) * 0.4);
    font-size: 23px;
    vertical-align: middle;
}

.text_right {
    display: inherit;
    margin-right: 40px;
    width: calc((99% - 80px) * 0.5);
    float: right;
    font-size: 15px;
}

.card_heading {
    margin-top: 100px;
}

.card {
    /* display: inline-block; */
}

.card_left {
    width: 100%;
}

.card_left img {
    display: inline;
    float: left;
    width: 100%;
}

.card_left p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
    padding-left: 15px;
}

.card_right .card_text_on_image {
    margin-right: 15px;
    display: inline-block;
    float: right;
}

.card_right {
    margin-left: 15px;
}

.card_right img {
    display: inline;
    float: right;
    width: 100%;
}

.card_p {
    width: 35%;
    display: inline-block;
    height: 228px;
}

.card_right p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
    padding-right: 15px;
}

.card_text_on_image {
    display: inherit;
    position: relative;
    text-align: center;
    color: #fff;
    width: 60%;
    margin-left: 15px;
}

.card_name_like {
    position: absolute;
    top: 8px;
    right: 16px;
    background-color: rgba(52, 54, 56, 0.6);
    border: 2px solid #fff;
    padding: 3px;
}

.card_text_month {
    position: absolute;
    top: 200px;
    left: 25px;
}

.card_right .card_text_month {
    left: 16px;
}

section.main_img {
    background-color: #f0f0f0;
}

.subscribe {
    height: 100px;
    width: 80%;
    background-color: #fff;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    margin-bottom: 50px;
    display: inline-block;
}

.subscribe_inner {
    margin: 20px;
    font-size: 18px;
    text-align: center;
}

.subscribe p {
    display: inline-block;
}

.subscribe input {
    margin-top: 10px;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h6 {
    color: #fff;
}

.button_subscribe {
    background-color: #000;
    color: #fff;
    height: 40px;
    width: 100px;
    border: none;
}

input {
    background-color: #e8e8e8;
}

.conteiner_footer {
    display: flex;
    flex-direction: row;
    color: #343638;
}

.conteiner_footer div p {
    color: #a4a4a4;
}

.empty {
    height: 100%;
    width: 15%;
}

.navigation_footer {
    float: right;
}

.navigation_footer a {
    color: #9e9e9e;
    padding-top: 0;
    margin-left: 10px;
}

.copy {
    color: #9e9e9e;
    display: inline;
}