body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 18px;
}


/* Your code goes here */

.container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}


/* .container:hover {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 30px 0;
    border-color: transparent #608A32 transparent transparent;
    right: 0;
    top: 0;
    position: absolute;
} */

.container-form {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 700px;
    height: 200px;
    align-items: center;
    justify-content: center;
    padding: 50px;
    transform: translate(200px, -50px);
    background-color: #fff;
}

.container-column {
    display: inline-flex;
    flex-direction: column;
}

.column {
    display: flex;
    flex-direction: row;
}

.photo {
    height: 400px;
    width: 600px;
    transition: transform .2s;
}

.photo:hover,
.photo-green:hover,
.photo-ball:hover {
    transform: scale(1.1);
}

.container div.photo-green {
    flex-basis: 35%;
}

.photo-green {
    height: 500px;
    color: #fff;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .2s;
}

.container div.text {
    flex-basis: 60%;
}

.photo-left {
    height: 400px;
    width: 600px;
    background-color: rgb(118, 205, 216);
    color: #fff;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-right {
    height: 400px;
    width: 600px;
    background: rgb(118, 205, 216);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.text {
    height: 500px;
    font-style: italic;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-right {
    height: 400px;
    width: 400px;
    display: flex;
    font-style: italic;
    align-items: center;
    justify-items: center;
    margin-left: 50px;
    line-height: 34px;
    flex-direction: column;
}

.text-right:hover {
    color: rgb(118, 205, 216);
}

.text-right:hover.triangle-topleft {
    border-width: 0 30px 30px 0;
    border-color: transparent #608A32 transparent transparent;
}

.text-left {
    height: 400px;
    width: 600px;
    display: flex;
    font-style: italic;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.text-left:hover {
    color: rgb(118, 205, 216);
    width: 0;
    height: 0;
    border-top: 100px solid rgb(118, 205, 216);
    border-right: 100px solid transparent;
    display: flex;
}

.text-ball {
    width: 300px;
    height: 540px;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-left: 50px;
    flex-direction: column;
    font-size: 16px;
    border: 1px solid #2E8B57;
    transition: transform .2s;
}

.text-ball:hover {
    box-shadow: 0 0 0 0.2rem#24d4d4;
}

.circle {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.text-circle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
}

h3 {
    color: rgb(118, 205, 216);
}

.btn {
    float: right;
    padding: 10px 20px;
    color: #fff;
    background-color: #2E8B57;
    border: none;
}

.aqua {
    color: #24d4d4;
    display: none;
}

.myDiv:hover+.aqua {
    color: #24d4d4;
    display: block;
}

#three:hover,
#standart:hover,
#advanced:hover,
.btn-submit:hover {
    background-color: rgb(118, 205, 216);
}

.text-ball:hover {
    transform: scale(1.1);
    height: 600px;
}

.btn-submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.border {
    display: flex;
    align-items: start;
    justify-content: center;
}

.photo-ball {
    height: 600px;
    width: 400px;
    transition: transform .2s;
}

.fon {
    color: #fff;
    background-color: #2E8B57;
    padding: 44px 70px;
}

.form-title {
    color: #fff;
    background-color: rgb(118, 205, 216);
    padding: 50px 200px;
}

.form-option {
    width: 200px;
    margin-bottom: 20px;
    padding: 5px 10px;
}

.form-option-select {
    width: 226px;
    border: 1px solid grey;
    margin-bottom: 20px;
    padding: 5px 10px;
}

.form-textarea {
    flex: 1 1 40px;
    margin-bottom: 50px;
}

.form-option:hover,
.form-option-select:hover,
.form-textarea:hover {
    border-color: #24d4d4;
    box-shadow: 0 0 0 0.2rem #24d4d4;
}

.second-row {
    padding-top: 10px;
    margin-left: 50px;
}

.white {
    color: #fff;
}

.footer {
    color: #fff;
    background-color: #2E8B57;
    padding: 50px 400px;
    margin-top: -100px;
}

.copy {
    font-size: 12px;
    margin: 10px 500px;
}