$bg-image: url("../img/m-h-night.jpg");
$font-colors:("highlight_color":red);
$bg-color-main:black;
$color-text:white;
$button-color:orange;
$gradient:linear-gradient(to left,
red,
orange);
$header-button-color:orange;