$bg-image: url("../img/m-h-day.jpg");
$font-colors:("highlight_color":#62b4cf);
$bg-color-main:white;
$color-text:black;
$button-color:yellowgreen;
$gradient:linear-gradient(to left,
#0000FF,
#0d9e3d);
$header-button-color:yellowgreen;