/*
* Colors used in design.
*   primary: #0078aa;
*   dark: #363636;
*   light: #fff;
*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.logo {
    display: inline;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 2;
}

header nav {
    display: inline-block;
    float: right;
    margin-right: 170px;
    margin-top: 10px;
}

a.navigation {
    margin-left: 18px;
    vertical-align: middle;
    text-decoration: none;
    font-weight: 700;
    color: #363636;
}

.navigation:hover {
    color: #0078aa;
}

section.first_section {
    background-image: url(../img/header_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 380px;
    width: 100%;
    display: block;
    margin-right: 200px;
}

.heading {
    font-weight: 800;
    font-size: 40px;
}

.first_section {
    padding-left: 8px;
    padding-top: 182px;
}

.first_section p {
    font-size: 18px;
}

.svg_container {
    display: flex;
    flex-direction: row;
}

.svg_div {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background: #0078aa;
    margin-right: 20px;
}

.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-left: 10px;
    background-size: cover;
    filter: invert(100%);
}

.icon:hover,
.icon:focus {
    filter: invert(35%) sepia(14%) saturate(6646%) hue-rotate(169deg) brightness(94%) contrast(101%);
}

.icon-briefcase {
    background-image: url(../img/icons/briefcase-medical.svg);
}

.icon-heartbeat {
    background-image: url(../img/icons/heartbeat.svg);
}

.icon-stethoscope {
    background-image: url(../img/icons/stethoscope.svg);
}

.icon-arrow {
    background-image: url(../img/icons/arrow-up.svg)
}

.icon-arrow:hover {
    filter: invert(100%);
}

.medical_care {
    display: inline-block;
}

.text_right {
    display: inline-block;
    vertical-align: middle;
    float: right;
}

.how_we_can_help {
    background-image: url(../img/services_bg.jpg);
    height: 800px;
    width: 100%;
}

.heading_section {
    margin: 0 auto;
    width: 400px;
    text-align: center;
}

.heading_section_inner {
    margin: 0 auto;
    text-align: center;
    width: 400px;
}

.container_card {
    margin-left: 70px;
}

.container_card div {
    height: 240px;
    width: 380px;
    background-color: #fff;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

.container_card h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.pricing {
    background-image: url(../img/pricing_bg.jpg);
    background-size: contain;
    height: 800px;
    width: 100%;
}

.card_pricing {
    position: relative;
    margin-left: 200px;
}

.card_pricing div {
    height: 560px;
    width: 350px;
    background-color: #0078aa;
    display: inline-block;
    text-align: center;
    color: #fff;
    padding-top: 20px;
    margin-top: 20px;
}

div.eye_checkup {
    background-color: #fff;
    border: 2px solid #0078aa;
    color: #0078aa;
}

.card_pricing h3 {
    font-size: 48px;
}

.card_pricing h4 {
    font-weight: 200;
    font-style: italic;
}

.get_now {
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: 2px solid #363636;
    background-color: #fff;
}

.contact_img {
    width: 100%;
    display: inline-block;
}

.contact_img_div {
    display: inline-block;
    width: 50%;
}

.contact_text {
    display: inline-block;
    width: 49%;
    float: right;
    margin-top: 60px;
}

.contact_text h4 {
    font-weight: 200;
}

.contact_text p {
    font-style: italic;
    font-size: 14px;
    margin-top: 50px;
}

.contact_form input {
    width: 100%;
    border-width: 0 0 1px 0;
    margin: 10px 0;
    font-style: italic;
}

.submit {
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background-color: #0078aa;
    color: #fff;
    border: none;
    font-weight: 600;
    margin-top: 10px;
}

.submit:hover {
    color: #0078aa;
    background-color: #fff;
    border: 1px solid #0078aa;
}

footer {
    height: 50px;
    background-color: #363636;
    color: #fff;
    text-align: center;
    padding-top: 20px;
}

.button_fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: block;
}

@media screen and (min-width: 768px) and (max-width:1280px) {
    .tools {
        width: 50%;
    }
    .text_right {
        width: 49%;
    }
    .container_card {
        margin-left: 2%;
    }
    .container_card div {
        width: 24%;
        margin: 2%;
        padding: 2%;
    }
    .pricing {
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .card_pricing {
        margin-left: 8%;
    }
    .card_pricing div {
        width: 30%;
    }
    .contact_img {
        width: 180%;
        max-height: 502px;
        max-width: 710px;
    }
    .contact_img_div {
        width: 50%;
        overflow: hidden;
        display: inline-block;
    }
}

@media screen and (max-width:767px) {
    .logo {
        display: block;
        margin: 0 auto;
    }
    header nav {
        margin: 0;
        display: inline-block;
        float: none;
        padding-left: 30px;
    }
    a.navigation {
        display: inline-block;
        margin-left: 5px;
        font-size: 14px;
    }
    .heading {
        text-align: center;
    }
    .first_section p {
        text-align: center;
    }
    .svg_container {
        justify-content: space-between;
    }
    .text_right {
        text-align: center;
    }
    .tools {
        width: 100%;
    }
    .container_card {
        margin-left: 0;
    }
    .container_card div {
        width: 90%;
    }
    .how_we_can_help {
        height: 1800px;
    }
    .pricing {
        background-image: none;
    }
    .card_pricing {
        margin-left: 30px;
        height: 1400px;
    }
    .contact {
        margin-top: 1100px;
    }
    .contact_img_div {
        width: 100%;
    }
    .contact_text {
        width: 100%;
        margin-top: 0;
    }
    .submit {
        margin-left: 40%;
        margin-right: 40%;
    }
    footer {
        margin-top: 380px;
    }
}