.header-wrap {
  background-image: url("../img/m-h-day.jpg");
  background-position: center center;
  background-size: cover;
  height: 470px;
  width: 100%;
  border-radius: 0 0 250px 0; }

.var, .login, .section_card_heading {
  font-family: 'Source Sans Pro', sans-serif;
  color: white; }

title {
  font-size: 20px;
  display: block;
  justify-content: space-between; }

.landing-logo {
  display: flex;
  padding: 12px 0 30px 130px; }

.landing-logo img {
  display: block;
  height: 30px;
  width: 30px; }

span {
  display: block;
  font-size: 8px; }

p {
  margin-block-start: 0;
  font-family: 'Source Sans Pro', sans-serif; }

.header_heading {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 48px;
  font-weight: 600;
  padding: 0 0 0 130px;
  width: 456px;
  margin-top: 0px;
  line-height: 1;
  color: #2c2f3c; }

.header_heading:after {
  content: "awesome";
  left: 136px;
  padding-bottom: 20px;
  line-height: 20px;
  margin-top: 10px;
  position: absolute;
  background-color: #62b4cf; }

.header_text {
  padding: 0 0 37px 130px;
  margin-top: -11px;
  font-size: 12px;
  width: 460px;
  color: black; }

.header_button {
  margin: 0 0 10px 130px;
  width: 92px;
  height: 32px;
  border: none;
  color: white;
  border-radius: 5px;
  background-color: yellowgreen; }

.login {
  margin-left: 94px;
  font-size: 13px;
  padding-top: -10px; }

.section_text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 28px;
  text-align: center;
  margin-top: 27px;
  color: black; }
  .section_text:after {
    content: "adventure";
    left: 645px;
    padding-bottom: 20px;
    line-height: 20px;
    margin-top: 7px;
    position: absolute;
    background-color: #62b4cf; }

.section_card_img {
  position: absolute;
  margin: 10px;
  height: 190px;
  width: 290px; }

body {
  background-color: white; }

.section_card_right_container {
  position: relative;
  display: block;
  margin-left: 350px; }

.section_card {
  height: 210px;
  width: 740px;
  background-color: #181818;
  margin: 20px 265px;
  border-radius: 5px; }

.section_card_heading {
  display: block;
  text-align: center;
  margin: 0 160px 0 100px;
  font-weight: bold;
  padding: 40px 0 20px 0; }

.section_card_text {
  font-size: 12px;
  color: white;
  height: 50px;
  width: 320px;
  margin-bottom: 30px; }

.section_link {
  margin: 0 20px 30px 120px;
  font-size: 12px;
  color: white; }

.section_banner_text_wrap {
  background: linear-gradient(to left, #0000FF, #0d9e3d);
  margin-left: 245px;
  line-height: 20px;
  margin-top: 30px;
  height: 100px;
  width: 800px;
  border-radius: 5px; }

.section_banner {
  position: absolute;
  margin-top: 53px; }

.section_banner_button {
  float: left;
  margin-left: 830px;
  margin-top: -70px;
  height: 30px;
  width: 92px;
  background-color: yellowgreen;
  border: none;
  color: white;
  font-family: 'Hind', sans-serif;
  border-radius: 5px; }

.section_banner_heading,
.section_banner_text {
  padding-left: 100px;
  padding-top: 21px;
  font-family: 'Hind', sans-serif;
  font-size: 20px;
  color: white; }

.section_banner_text {
  font-size: 10px;
  font-family: 'Hind', sans-serif;
  margin-top: -30px; }
  .section_banner_text:after {
    content: "start";
    left: 425px;
    margin-top: -30px;
    font-family: 'Hind', sans-serif;
    font-size: 20px;
    position: absolute;
    background-color: #62b4cf; }

footer {
  height: 150px;
  width: 100%;
  background-color: #181818;
  margin-top: 150px; }

.footer_logo {
  float: left;
  margin-top: 80px;
  color: white; }

.footer_text {
  float: left;
  display: block;
  height: 50px;
  width: 190px;
  margin-top: 90px;
  margin-left: 300px;
  font-size: 10px;
  color: white; }
