:root {
    --modal-duration: 1s;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5)
}

.modal-content {
    background: #fff;
    text-align: center;
    margin: 10% auto;
    width: 350px;
    border-radius: 10px;
    padding: 3rem;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
}

.modal-content h1 {
    margin-bottom: 1rem;
}

.modal-content p {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.rules {
    background-color: lightskyblue;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

h1,
h2 {
    background-color: lightskyblue;
}

@keyframes modalopen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}