/* Write your styles here */

* {
    margin: 0;
    padding: 0;
    font-size: 35px;
}

.calc {
    width: 324px;
    margin: auto;
    background-color: darkblue;
    padding: 20px;
    border-radius: 8px;
    display: inline-block;
}

.calc-display {
    width: 100%;
    height: 75px;
    border: none;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 8px;
    text-align: right;
}

input[type=button] {
    width: 75px;
    height: 75px;
    margin: 2px;
    color: black;
    border: 1px solid lightgrey;
    border-radius: 8px;
    background-color: lightblue;
}

.equation {
    width: 600px;
    height: 550px;
    float: right;
}

.circle {
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid red;
}

.circle:hover {
    background-color: red;
}

.result {
    border: none;
}

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    float: right;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: red;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}