    /* 

write your code here

*/
    
    .tm-box-bg-title:hover {
        background-color: lightskyblue;
        color: white !important;
    }
    
    .tm-banner-text::first-letter,
    .tm-section-title::first-letter,
    .tm-section-description::first-letter,
    .tm-section-title ::first-letter,
    .heading::first-letter,
    .box-work::first-letter {
        color: lightskyblue;
        font-size: 30px;
    }
    
    .tm-main-content,
    .flex-2-col,
    .tm-content-box,
    .tm-main-nav {
        box-shadow: 0 0 10px grey;
    }
    
    .tm-section-description {
        padding-top: 1em;
    }
    
    .tm-banner {
        border: 64px solid #f5f5f5;
        padding: 0;
    }
    
    section::before {
        content: "";
        width: 0;
        height: 0;
        border-top: 50px solid lightskyblue;
        border-right: 300px solid transparent;
    }
    
    .carousel-content h2.tm-section-title {
        letter-spacing: 5px;
        color: gainsboro !important;
    }
    
    .tm-section-description:nth-child(2) {
        font-style: italic;
    }
    
    .tm-section-description:nth-child(2),
    .tm-section-description:nth-child(3) {
        line-height: 2em;
    }
    
    .tm-team-description-container:first-of-type {
        padding-top: 250px;
    }
    
    .tm-content-box div ol li:nth-child(1)::after,
    .tm-content-box div ol li:nth-child(3)::after {
        content: "New";
        color: red;
        vertical-align: top;
        font-size: 11px;
        font-weight: bold;
        font-variant: small-caps;
    }
    
    a:visited {
        text-decoration: underline;
    }
    
    a {
        color: black;
    }
    
    a:hover {
        color: #1bead9;
        text-decoration-style: double;
    }
    
    .box-work:nth-child(2) {
        font-style: italic;
    }
    
    .box-work:nth-child(2n) {
        background-color: #f5f5f5;
    }
    
    .btn {
        display: block;
        margin-left: auto;
        color: lightskyblue;
        background-color: white;
        border-color: lightskyblue;
        border-radius: 0;
    }
    
    .btn:hover {
        color: white;
        background-color: lightskyblue;
        border-color: skyblue;
    }
    
    .tm-nav-item:hover {
        background-color: #f5f5f5;
    }
    
    .mandatory-field::after {
        content: "*";
        color: red;
        font-size: 11px;
        font-weight: bold;
        font-variant: small-caps;
    }
    
    .tm-content-box.flex-2-col {
        display: flex;
        justify-content: space-between;
    }
    
    .tm-content-box.flex-2-col img {
        float: left;
    }
    
    @media print {
        .tm-sidebar {
            display: none;
        }
        .tm-banner-inner {
            height: 200px;
        }
        .tm-section-title {
            color: blue !important;
        }
        .tm-section-title::first-letter {
            color: blue;
        }
        p::first-letter {
            color: cadetblue;
            font-size: 200%
        }
        .tm-section-description.tm-team-description-container:nth-child(1) {
            font-style: italic;
        }
        .tm-section-description::first-letter {
            color: green;
            font-size: 30px;
        }
        .tm-team-description-container:nth-child(2) {
            font-style: normal;
        }
        .flex-item img {
            width: 200px;
            float: right;
        }
        .tm-content-box.tm-content-header.margin-b-10,
        .tm-content-box.flex-2-col {
            display: block;
        }
        .tm-content-box.flex-2-col {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .tm-team-description-container {
            height: 450px;
            width: 60%;
        }
        #about,
        .heading,
        .blocks,
        #ideas,
        .img-contact-us,
        #contact {
            display: none;
        }
        section::before {
            display: none;
        }
        .tm-section-title::first-letter {
            display: none;
        }
        .tm-team-description-container:first-of-type {
            padding-top: 60px;
        }
        .tm-banner {
            border: none;
        }
    }