/* START: Task 1 Styles */

table {
    margin: 0 auto;
}

td {
    padding: 10px;
    border: 1px solid #333;
    height: 200px;
    width: 200px;
}


/* END: Task 1 Styles */


/* START: Task 2 Styles */

#input {
    width: 400px;
    padding: 10px;
}

#btn {
    padding: 10px;
}


/* END: Task 2 Styles */


/* START: Task 3 Styles */

#court {
    width: 600px;
    height: 330px;
}

#ball {
    width: 40px;
    height: 40px;
}

#task3 {
    position: relative;
}

#court {
    position: relative;
    top: 0;
    left: 0;
}

#ball {
    position: absolute;
    top: 0;
    left: 0;
}


/* END: Task 3 Styles */