/*Your code goes here*/

body {
    font-family: 'Roboto', sans-serif;
}

.header_link a {
    color: #525252;
}

.header_link:hover {
    color: #111;
}

.link {
    color: #525252;
}

.link:hover {
    color: #111;
}

.bg_color {
    background-color: #525252;
}

.card {
    border: none;
}

.card-img-top {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.games {
    color: white;
}

.orange {
    background-color: coral;
    border: none;
    color: white;
}