:root {
    --primary-color: #f2c744;
    --light: #f4f6f9;
    --dark: #000;
    --primary-font: 'Shadows Into Light', cursive;
    --secondary-font: 'Dancing Script', cursive;
}

body {
    display: grid;
    grid: "header header" "main aside" "footer footer";
    grid-template-columns: 1fr 30%;
    grid-gap: 20px;
}

header {
    grid-area: header;
    font-family: 'Dancing Script', cursive;
    display: grid;
    justify-content: center;
    align-content: center;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
    font-family: 'Dancing Script', cursive;
    display: grid;
    justify-content: center;
    align-content: start;
    position: sticky;
}

footer {
    grid-area: footer;
    font-family: 'Shadows Into Light', cursive;
    display: grid;
    justify-content: center;
    align-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    grid-gap: 10px 10px;
    grid-auto-flow: dense;
}

.container img {
    width: 100%;
    height: 100%;
}

.foto-1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.foto-2 {
    grid-row: 2 / 4;
    grid-column: 1/2;
}

.foto-3 {
    grid-row: 4 / 6;
    grid-column: 1/2;
}

.foto-4 {
    grid-row: 6/ 7;
    grid-column: 1/2;
}

.foto-5 {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
}

.foto-6 {
    grid-row: 3/ 4;
    grid-column: 2/ 3;
}

.foto-7 {
    grid-row: 4/6;
    grid-column: 2/3;
}

.foto-8 {
    grid-row: 6/8;
    grid-column: 2/ 3;
}

.foto-9 {
    grid-row: 1/4;
    grid-column: 3/ 4;
}

.foto-10 {
    grid-row: 4/5;
    grid-column: 3/ 4;
}

.foto-11 {
    grid-row: 5/8;
    grid-column: 3/ 4;
}

.logo {
    height: 80px;
    width: 80px;
}

h2,
h4 {
    margin: 0;
}

.avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin-left: 150px;
    object-fit: cover;
}

.margin {
    margin-left: 130px;
}

.social-icons {
    filter: brightness(0);
    display: grid;
    justify-content: center;
    align-content: center;
}

@media only screen and (min-width: 768px) and (max-width: 1224px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "header" "main" "aside" "footer";
    }
    .avatar {
        display: grid;
        justify-content: center;
        align-content: center;
        margin: 0;
    }
    .margin {
        display: grid;
        justify-content: center;
        align-content: center;
        margin: 0;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "header" "main" "aside" "footer";
    }
    .avatar {
        display: grid;
        justify-content: center;
        align-content: center;
        margin: 0;
    }
    .margin {
        display: grid;
        justify-content: center;
        align-content: center;
        margin: 0;
    }
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}